---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Eren Tarak" description="About Eren Tarak Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					
					src="/assets/githubProfil.jpeg"
					alt="Eren"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						A 4th-year Information Systems and Technologies student at Bilkent University, part-time
Software Engineer at <a href='https://www.orioninc.com/' >Orion Innovation</a>. Quick learner, eager to develop high-quality, reusable
software components, Self-Motivated, hungry to learn new technologies. Excitement to
develop high quality, reusable software components. Dedicated to crafting data-driven web
applications with a strong focus on user-centric experiences.Strong communication and collaboration
skills, with a proven ability to work well in a
team environment
					</p>
					<p>
					<a href='https://github.com/erentrk01'>Github Profile</a>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bilkent University, Faculty of Applied Sciences, <a href='https://ctis.bilkent.edu.tr/ctis_home.php'>Information Systems and Technologies</a>, Honour Student, 3.23 GPA</p>
					<p>Electives: <a href='https://catalog.bilkent.edu.tr/course/c62478.html'>Advance Web Technologies</a>, <a href='https://catalog.bilkent.edu.tr/course/c62417.html'>Software Design Patterns</a>, <a href='https://catalog.bilkent.edu.tr/course/c62486.html'>Linux System Administration</a>, <a href='https://catalog.bilkent.edu.tr/course/c62479.html'>.Net MVC Development</a>  </p>
					<p>ExtraCurricular: <a href='https://catalog.bilkent.edu.tr/course/c58131.html'>German A1</a>, Bilkent Music Club, IEEE Student Branch</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Frontend development with React.js, Vite, Redux/Zustand</p>
					<p>Backend development with Node.js, Flask</p>
					<p>Data Analysis / Visualization with Python, R, Js</p>
					<p>AWS serverless with aws cdk</p>
					<p>Rest and websocket apis</p>
					<p>MongoDB and DynamoDB</p>
					<p>Elastic APM</p>
					<p>Testing: Cypress</p>
					<p>JWT Authentication</p>
					<p>Linux</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hobbies</h2>
				<div class="content">
					<p>Playing Bass, Electric Guitar and acoustic guitar in the genre of Blues, Country and Jazz bands </p>
					<p>Football Lover</p>
					<p>Road tripping</p>
					<p>Playing with my cat</p>
						<img
					width='100'
					height='100'
					src="/assets/cat.jpg"
					alt="Eren"
				/>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
